.promo-box {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  border: .5pt solid rgba(0,0,0,.1);
  margin: .6rem;
  border-radius: 2px;
  height: 260px;
}

.promo-box .media {
  display: flex;
  align-items: stretch;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100px;
}

.promo-box .media a {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}

.promo-box .content {
  padding: 1rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.promo-box .content-container {
  flex-basis: 60%;
  flex-grow: 3;
  flex-shrink: 0;
  overflow: hidden;
}

.promo-box .articleInfo h1 {
  letter-spacing: -.02em;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0;
  font-size: 1.1rem;
  line-height: 24px;
  -webkit-transform: translateY(-1.88px);
  transform: translateY(-1.88px);
  letter-spacing: -.05rem;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  color: rgba(0,0,0,.84);
  fill: rgba(0,0,0,.84);
  margin-top: .5rem;
  margin-bottom: .1rem;
}

.promo-box a {
  text-decoration: none;
}

.promo-box .member-preview,
.promo-box .audio,
.promo-box .articleInfo p {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  color: rgba(0,0,0,.54);
  fill: rgba(0,0,0,.54);
  font-style: normal;
  letter-spacing: 0;
  font-size: .8rem;
  line-height: 20px;
  -webkit-transform: translateY(1.52px);
  transform: translateY(1.52px);
}

.promo-box .articleInfo p {
  margin-top: .1rem;
  overflow: hidden;
  max-height: 60px;
  text-overflow: ellipsis;
}

.promo-box .audio-and-member .member-preview-icon {
  float: right;
}

.promo-box .member-preview .member-preview-icon {
  margin-right: .2rem;
}

.promo-box .member-preview-icon {
  height: 15px;
}

.promo-box .audio, .member-preview {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10%;
  display: flex;
  align-items: center;
}

.promo-box .audio .audio-icon {
  height: 21px;
  margin-right: .3rem;
}

@media screen and (max-width: 767px) {
  .promo-box .content {
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .promos:not(.promos-top) .promo-box {
    flex-basis: 30%;
  }
  .promos.promos-top .promo-box {
    flex-basis: 45%;
  }
  .promo-box .articleInfo {
    overflow: hidden;
    height: 75px;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .promos.promos-top .promo-box {
    flex-direction: row;
  }
  .promos.promos-top .promo-box .media {
    width: 200px;
    height: 100%;
  }
  .promos.promos-top .promo-box .articleInfo {
    height: auto;
  }
  .promos.promos-top .promo-box .articleInfo h1 {
    margin-bottom: .5rem;
  }
  .promos.promos-top .promo-box .articleInfo p {
    margin-top: 0;
  }
}
