.AudioPreview {
    display: flex;
    flex-wrap: nowrap;
    color: gray;
    font-weight: 500;
    height: 20px;
    width: 224px;
    padding-bottom: 10px;
}

.Article-audio-text {
    font-size: 0.75em;
    text-align: left;
    padding-right: 75px;
}

.Article-audio-image {
    padding-right: 10px;
}

.Article-star-container {
    height: 20px;
    width: 20px;
}

.Article-star-container img {
    height: auto;
    width: 65%;
}
