a {
    text-decoration: none;
}
/* Article CSS */
.Article {
    box-sizing: border-box;
    width: 45%;
    background-color: white;
    border-color: gray;
    border-style: solid;
    border-width: 1pt;
    flex-direction: row;
    margin: 5px;
}
  
  .Article-image {
    box-sizing: border-box;
    width: 200px;
    height: 300px;
    object-fit: contain;
    overflow: hidden; 
    align: left;
    float: left;
  }

  .Article-body-container {
      box-sizing: border-box;
      width: 50%;
      height: 50%;
      padding: 15px;
      float: left;
    }

  .Article-header {
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    word-wrap: normal;
  }
  
   .Article-description {
    color: gray;
    font-size: 13px;
    text-align: left;
}

  .Author-container {
    height: 50%;
    padding: 15px;
    float: bottom;   
    }

    .Author-image {
        width: auto;
        height: auto;
        max-width: 50px;
        max-height: 50px;
        border-radius: 100%;
        overflow: hidden;    
        margin: 10px;
    }

    .Author-name {
        align-items: center;
        font-size: 12px;
        color: gray;
        margin: 3px;
    }