.cardWrapper {
  float: left;
  width: 558px;
  border: 1px solid #eeeeee;
  margin: 20px;
  border-radius: 3px;
}

.cardWrapper2 {
  width: 358px;
}

.cardImgWrapper {
  width: 240px;
  height: 300px;
  overflow: hidden;
  float: left;
}

.cardImgWrapper2 {
  width: 100%;
  height: 120px;
  position: relative;
}

.cardImg {
  height: 100%;
}

.cardImg2 {
  width: 100%;
  position: absolute;
  bottom: -32px;
  height: auto;
}

.cardInfoWrapper {
  padding: 20px;
  width: 278px;
  height: 260px;
  float: right;
  position: relative;
}

.cardInfoWrapper2 {
  width: 100%;
  float: inherit;
  height: 160px;

}

.cardInfoWrapper > h2 {
  line-height: 1.2;
  margin: 0;
  font-size: 20px;
}

.cardInfoWrapper > p {
  font-size: 16px;
  color: #777777;
  height: 260px;
  position: relative;
}

.cardInfoWrapper2 > p {
  height: initial;
}

.cardAuthorWrapper {
  position: absolute;
  bottom: 10px;
  font-size: 14px;
}

.cardAuthorImgWrapper {
  overflow: hidden;
  border-radius: 50px;
  width: 55px;
  height: 55px;
  float: left;
}

.cardAuthorImg {
  width: 55px;
}

.cardAuthorNameWrapper {
  margin-left: 70px;
  padding-top: 5px;
  line-height: 1.5;
}

.cardAuthorName {
  margin: 0;
  padding: 0;
}

.cardAuthorDate {
  color: #777777;
}