

.imageBox {
    background-position: 50% 50% !important;
    background-size: cover!important;
    height: 100%!important;
    width: 200px;
    padding: 0px;
    margin: 0px;
}

.my-panel {
    border: solid thin rgb(231, 231, 231);
    margin: 10px;
    height: 260px;
    width: 430px;
}


.name-badge-name {
    font-size: 14px!important;
    line-height: 10px!important;
    font-style: normal!important;
    letter-spacing: 0!important;
    color: rgb(22, 22, 22);
}
