.imageContainer>img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.imageContainer {
  border-top: 1px solid rgb(0, 128, 0);
  border-bottom: 1px solid rgb(0, 128, 0);
  padding: 5px;
  border-radius: 50%;
}
