.cardContainer {
  display: inline-block;
  text-align: left;
}

.imageHeader {
  cursor: pointer;
}

.footer {
  text-align: left;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.articleSummary {
  position: relative;
  height: 155px;
}
