
.separator {
  border: .013rem dashed lightgray;
}

.articles-subtitle {
  font: bold normal .8rem Arial, san-serif;
  text-align: left;
  width: 100%;
}

.critivity-body {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1rem 1rem;
  padding: 0 1rem;
  /* background: rgb(255, 255, 150); */
}

.recommend-article {
  position: relative;
  display: flex;
  border: .1rem dotted lightgray;
  margin: 1rem 1rem;
  font: normal normal 16px/20px Arial san-serif;

  height: 13rem;
  width: 45%;
}

.creativity-article {
  border: .1rem dotted lightgray;
  margin: 1rem 1rem;
  font: normal normal 16px/20px Arial san-serif;
  height: 17rem;
  width: 15rem;
}

.article-title {
  font: bold normal 14px/1.1 Arial, san-serif;
  height: 2rem;
  width: 100%;
  text-align: left;
  padding-bottom: .5rem;
}

.image-position {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 50%;
}

.recomm-image-position {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 40%;
  height: 100%;
}

.image-box {
  width: 100%;
  height: 80%;
}

.recomm-image-box {
  height: 100%;
}

.author-description {
  height: 1rem;
  width: 100%;
  font: normal normal 12px/1.1 Arial, san-serif;
  text-align: left;
}

.recomm-author-indent {
  display: flex;
  bottom: .5rem;
  padding-top: 30%;
}

.author-ident {
  display: flex;
  bottom: .5rem;
}

.author-name {
  width: 50%;
  font: normal normal .7rem/.1 Arial sans-serif;
  font-family: Arial, sans-serif;
  color: brown;
  height: 1rem;
  margin-left: 1rem;
  padding-left: 1rem;
  text-align: left;
}

.author-bio {
  border: .1rem dotted black;
  width: 50%;
}

.author-image-position {
  bottom: .5rem;
  width: 1rem;
  height: 2rem;
  border-radius: 50%;
}

.author-image {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.rest-article {
  margin: 0 .5rem;
  padding: .1rem .1rem;
}
